<div id="surveyContainer" class="" style="margin: 0 auto;width: 100%;display: inline-block;background-color: blue; padding: 1em;font-size: 2em;color: white;">
  <div style="width: 45%; float: left;margin-top: 1.5em;">
    <h1>The Tizzy Survey</h1>
    <p style="margin: 1em 0;line-height: 1.1em;">This will be a monthly survey for the Paltlak education section.  We would like to promote the positive in our small community.</p>
  </div>
  <div style="width: 45%;float: right;right: 1.4em !important;position: absolute !important;top: 3em;">
    <img src="../../assets/images/anti-troll.png" alt="" style="height: 6em; width: 6em;">
  </div>

  <div id="surveyElement"></div>
  <div id="surveyResults"></div>
</div>
